/* General Styles */

body {
  margin: 0;
  height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 3em;
}

h1, p {
  margin: 100px 0;
}

h1 {
  font-size: 3em;
  padding: .2em;
}

p {
  line-height: 1em;
}


/* Custom Properties Demo */

.gradient-container {
  background: linear-gradient(white, var(--color-stop));
  transition: --color-stop 1s;
}

.gradient-container:hover {
  --color-stop: black;
}


/* Painting API Demo */

/*
  Partially dotted underline
  Taken from Simon's DesignCourse video on CSS Houdini
*/

h1.bg-dotted-underline {

  background-image: paint(simonbg);
  transition-property: --number-of-circles;
  transition-duration: 250ms;
}

h1.bg-dotted-underline:hover {
  --number-of-circles: 20;
}


/* Trailing skewed rects */

p.bg-slashes {
  background-image: paint(slashes-bg);
  transition-property: --slashes-bg-skew, --number-of-rects;
  transition-duration: 250ms;

  /* custom props (affect the paint function!) */
  --stroke-color: rgba(184, 184, 184, 0.699);
  --fill-color: rgba(184, 184, 184, 0.699);
  --spacing: 30;
  --number-of-rects: 5;
  --slashes-bg-skew: 30;
}

/* These should animate on hover! */
p.bg-slashes:hover {
  --slashes-bg-skew: 50;
  --number-of-rects: 10;
}


/* Scribbled out lines effect */

p.fancy-crossed-out {
  background-image: paint(fancy-crossed-out);
  transition-property: --fancy-crossed-out-skew, --fancy-crossed-out-evenness;
  transition-duration: 250ms;

  /* custom props (affect the paint function!) */
  --fancy-crossed-out-stroke-width: 1;
}

/* Basic design */
p.fancy-crossed-out.basic {
  /* Random scribble alternative */
  --fancy-crossed-out-skew: 50;
  --fancy-crossed-out-evenness: 0.75;
}

/* Alternative design (random scribble) */
p.fancy-crossed-out.random {
  --fancy-crossed-out-skew: -1;
  --fancy-crossed-out-evenness: -1;
}

/* These should animate on hover! */
p.fancy-crossed-out.basic:hover {
  --fancy-crossed-out-skew: 60;
  --fancy-crossed-out-evenness: 0.55;
}

/* We can apply multiple worklets, just like with mulitple backgrounds */
p.slashes-and-crossed-out {
  background-image: paint(slashes-bg), paint(fancy-crossed-out);
  --stroke-color: rgba(238, 69, 69, 0.699);
  --fill-color: rgba(238, 69, 69, 0.699);
}





/* Extra Stuff */



.shimmer-bg {
  border-radius: 15px;
  background: linear-gradient(to right, var(--color-gradient-1), var(--color-gradient-2), var(--color-gradient-3), var(--color-gradient-4));
  /* animation: 3s ease-in infinite shimmerSlide; */
}


/* Keyframes */

@keyframes shimmerChange {
  0% {
    --color-shimmer: lightgrey;
  }

  15% {
    --color-shimmer: transparent;
  }
}

@keyframes shimmerSlide {
  0% {
    --color-gradient-1: lightgrey;
  }

  2% {
    --color-gradient-2: lightgrey;
    --color-gradient-1: transparent;
  }

  4% {
    --color-gradient-3: lightgrey;
    --color-gradient-2: transparent;
  }

  6% {
    --color-gradient-4: lightgrey;
    --color-gradient-3: transparent;
  }

  8% {
    --color-gradient-4: transparent;
  }
}